<div class="column is-one-quarter">
    <nav class="panel">
        <p class="panel-heading">Spaces</p>
        <a class="panel-block">
            Space 1
        </a>
        <a class="panel-block">
            Space 2
        </a>
        <a class="panel-block">
            Space 3
        </a>
        <a class="panel-block">
            Space 4
        </a>
        <a class="panel-block">
            Space 5
        </a>
        <a class="panel-block">
            Space 6
        </a>
    </nav>
</div>