<section class="section">
  <div class="container">
    <div class="columns">
      <%= render 'stories' %>
      <%= render 'spaces' %>
      <%# <%= render 'ready_for_deploy' %> %>
    </div>
  </div>
</section>